{% if not status %}
<p style="margin-top: 30px;"> No Attendance on <strong>{{ date }}</strong>. Approving request will create it. </p>
{% endif %}
{% if 'Present' == status %}
Punch details of Attendance on <strong>{{ date }}</strong><br>
Status <strong>{{status}}</strong>
<table class="table table-bordered small">
	<thead>
		<tr>
			<th style="width: 20%">{{ __("Punch ID") }}</th>
			<th style="width: 40%">{{ __("Punch Time") }}</th>
			<th style="width: 40%">{{ __("Punch Type") }}</th>
		</tr>

	</thead>
	<tbody>
			{% for i in times %}
				<tr>
					<td>{{ i.idx}}</td>
					<td> {{i.punch_time}} </td>
					<td> {{i.punch_in_out }} </td>
				</tr>
			{% endfor %}
		</tbody>
</table>
{% endif %}
{% if 'Absent' == status |  'On Leave' == status %}
<p style="margin-top: 30px;"> Not allowed for attendances with status <strong>{{ status }}</strong> </p>
{% endif %}
